<h1>Bonjour!</h1>

<p>Pour réinitiqliser votre ,ot de passe, veuillez cliquer sur le lien suivant. </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Coordialement!</p>
