{% extends 'base.html.twig' %}

{% block title %}New Fournisseurs{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau utilisateur </h1>

    {{ include('fournisseurs/_form.html.twig') }}

   {# <button class="btn btn-primary mb-2"> <a  class="text-white" href="{{ path('app_fournisseurs_index') }}">La liste des fournisseur</a></button> #}
{% endblock %}
